h1 {
	font-family: 'Courier New', Courier, monospace;
}

body {
	background-color: #F6F1EB !important;
}

.main-header h1 {
	font-size: 1.9rem;
	font-weight: bold;
	margin-top: 100px;
	margin-bottom: 30px;
}

.logo {
	width: 180px;
	margin-top: 30px;
	max-width: 100%;
	height: auto;
}

.main-image {
	margin-top: 40px;
	width: 550px;
	margin-bottom: 80px;
	max-width: 100%;
	height: auto;
}

.content {
	margin-top: 150px;
	text-align: center;
	margin-bottom: 80px;
}

.learn-more {
	width: 70px;
	max-width: 100%;
	height: auto;
}

hr {
	background-color: #000;
	width: 90%;
}

#next-section {
	height: 550px;
}

#next-section .row {
	display: flex;
	align-items: center;
}

#next-section h1 {
	margin-top: 100px;
	margin-bottom: 30px;
	font-size: 60px;
}

.about {
	margin-top: 100px;
	margin-bottom: 10px;
}

.laptop {
	margin-top: 120px;
}

#wizard {
	background-color: #9CAFBF;
	border-radius: 50px;
	border-color: #9CAFBF;
	width: 80%;
	margin-top: 20px;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

#wizard:hover {
	background-color: #8BA2AA;
	border-color: #8BA2AA;
}

#next-section p {
	width: 80%;
	text-align: center;
}

#food {
	background-color: #E2E2E2;
	border-radius: 30px;
}

#choice {
	background-color: #9CAFBF;
	border-color: #9CAFBF;
	border-radius: 50px;
	margin-top: 30px;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

#choice:hover {
	background-color: #8BA2AA;
	border-color: #8BA2AA;
}

.caloriewizard {
	margin-top: 80px;
	margin-bottom: 20px;
	font-size: 45px;
}

#receipt {
	background-image: url(../img/receipt.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 80px;
	padding-bottom: 100px;
	position: relative;
	padding: 20px;
	font-family: 'Lucida Console', Monaco, monospace;
}

.receipt-content {
	border-radius: 10px;
	font-size: 12px;
	max-height: 300px;
	overflow-y: auto;
}

.receipt-content span {
	float: right;
}

#result-container {
	background-color: white;
	position: absolute;
	display: flex;
	flex-direction: column;
	max-height: 300px;
	overflow: auto;
	width: 100%;
	z-index: 10;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#result-container span {
	padding: 10px 20px;
	cursor: pointer;
	width: 100%;
}

#result-container span:hover {
	background-color: lightgray;
}

#search-box {
	background-color: white;
}

#item-list {
	background-color: whitesmoke;
	border-radius: 20px;
	margin-top: 20px;
	padding: 10px;
	max-height: 380px;
	overflow-y: auto;
}

#item-list li {
	font-size: 15px;
	margin-top: 10px;
	width: 100%;
}

#item-list li input {
	border: none;
	border-radius: 20px;
	width: 70px;
	padding: 2px 5px;
	font-size: 15px;
}

#item-list li button {
	border: none;
	background-color: white;
	padding: 3px 16px;
	text-align: center;
	border-radius: 20px;
	float: right;
	transition: all 0.3s ease-in-out;
}

#item-list li button:hover {
	background-color: lightgray;
}

#item-list li button img {
	width: 15px;
	height: 17px;
}

.total p {
	margin-bottom: 4px;
	font-size: 14px;
	font-weight: 600;
}

.lds-ring {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 10px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 6px;
	border: 6px solid gray;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: gray transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*Dialog Styles*/
dialog {
	padding: 1rem 3rem;
	background: white;
	max-width: 400px;
	padding-top: 2rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;

	&::backdrop {
		animation: fadeIn 1s ease both;
		background: rgb(255 255 255 / 40%);
		z-index: 2;
		backdrop-filter: blur(20px);
	}

	.x {
		filter: grayscale(1);
		border: none;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;

		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}

	a {
		&:visited {
			color: rgb(var(--vs-primary));
		}

		button.primary {
			display: inline-block;
			font-size: 0.8rem;
			color: #fff !important;
			background: rgb(var(--vs-primary) / 100%);
			padding: 13px 25px;
			border-radius: 17px;
			transition: background-color 0.1s ease;
			box-sizing: border-box;
			transition: all 0.25s ease;
			border: 0;
			cursor: pointer;
			box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);

			&:hover {
				box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
				transform: translateY(-5px);
			}
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}

		@media only screen and (max-width: 479px) {
			.modal-2 h2 {
				font-size: 24px;
			}
		}

		@media only screen and (max-width: 479px) {
			.modal-2 .product-details-content .pro-details-quality .pro-details-cart .add-cart {
				font-size: 12px;
			}
		}

		.modal-open .modal-2 {
			overflow-x: hidden !important;
			overflow-y: auto !important;
		}

		@-webkit-keyframes menu-animation {
			0% {
				opacity: 0;
				-webkit-transform: scale(0.04) translateY(300%);
				transform: scale(0.04) translateY(300%);
			}

			40% {
				-webkit-transform: scale(0.04) translateY(0);
				transform: scale(0.04) translateY(0);
				-webkit-transition: ease-out;
				transition: ease-out;
			}

			40% {
				-webkit-transform: scale(0.04) translateY(0);
				transform: scale(0.04) translateY(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: scale(0.02) translateY(0px);
				transform: scale(0.02) translateY(0px);
			}

			61% {
				opacity: 1;
				-webkit-transform: scale(0.04) translateY(0px);
				transform: scale(0.04) translateY(0px);
			}

			99.9% {
				opacity: 1;
				height: 0;
				padding-bottom: 100%;
				border-radius: 100%;
			}

			100% {
				opacity: 1;
				-webkit-transform: scale(2) translateY(0px);
				transform: scale(2) translateY(0px);
				height: 100%;
				padding-bottom: 0;
				border-radius: 0;
			}
		}

		@keyframes menu-animation {
			0% {
				opacity: 0;
				-webkit-transform: scale(0.04) translateY(300%);
				transform: scale(0.04) translateY(300%);
			}

			40% {
				-webkit-transform: scale(0.04) translateY(0);
				transform: scale(0.04) translateY(0);
				-webkit-transition: ease-out;
				transition: ease-out;
			}

			40% {
				-webkit-transform: scale(0.04) translateY(0);
				transform: scale(0.04) translateY(0);
			}

			60% {
				opacity: 1;
				-webkit-transform: scale(0.02) translateY(0px);
				transform: scale(0.02) translateY(0px);
			}

			61% {
				opacity: 1;
				-webkit-transform: scale(0.04) translateY(0px);
				transform: scale(0.04) translateY(0px);
			}

			99.9% {
				opacity: 1;
				height: 0;
				padding-bottom: 100%;
				border-radius: 100%;
			}

			100% {
				opacity: 1;
				-webkit-transform: scale(2) translateY(0px);
				transform: scale(2) translateY(0px);
				height: 100%;
				padding-bottom: 0;
				border-radius: 0;
			}
		}