<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="Your Logo" class="logo">
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            <header class="main-header">
                <div class="layers">
                    <div class="layer__header">
                        <div class="layers__caption">Welcome to </div>
                        <div class="layers__title">BalancedBites</div>
                    </div>
                </div>
            </header>
            <article class="main-article">
                <div class="main-article__content">
                    <h2 class="main-article__header">To be continued</h2>
                </div>
            </article>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/app.js')}}"></script>

</html>