<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h1 class="caloriewizard"><a style="font-size:35px" href="/"><- </a>Calorie Wizard</h1>
                </div>
                <div class="col-md-12">
                    <input type="text" id="input" 
                    onfocus="document.getElementById('result-container').style.display = 'flex'" class="form-control" 
                    placeholder="Search for your ingredient...">
                    <div id="result-container">

                    </div>
                </div>
                <div class="col-md-12">
                    <div id="item-list">
                        List is empty. Start by <a href="javascript:void(0);" onclick="document.getElementById('input').focus()">searching</a> for an ingredient.
                    </div>
                    <button onclick="optimize_items()" class="btn btn-primary btn-lg btn-block" id="choice">Get Wizard's Choice</button>
                </div>
            </div>
            <div class="col-md-4" id="receipt">
                <div class="col-md-12" style="text-align: center;">
                    <h3 style="margin-bottom: 15px;">RECEIPTBITES</h3>
                    <p style="text-align: left;font-size: 14px;">
                        ORDER #0001 FOR TOKKI<br/>
                        WEDNESDAY, SEPTEMBER 08, 2023
                    </p>
                </div>
                <hr>
                <div class="receipt-content col-md-12">
                    <div class="col-md-12" id="total-list">
                        <ol style="padding-left: 0px;">
                            <li>Total fat: <span id="total_fat_g"></span></li>
                            <li>Saturated fat: <span id="saturated_fat_g"></span></li>
                            <li>Cholesterol: <span id="cholesterol_mg"></span></li>
                            <li>Sodium: <span id="sodium_mg"></span></li>
                            <li>Vitamin a: <span id="vitamin_a_iu"></span></li>
                            <li>Vitamin b12: <span id="vitamin_b12_mcg"></span></li>
                            <li>Vitamin b6: <span id="vitamin_b6_mg"></span></li>
                            <li>Vitamin c: <span id="vitamin_c_mg"></span></li>
                            <li>Vitamin d: <span id="vitamin_d_iu"></span></li>
                            <li>Vitamin e: <span id="vitamin_e_mg"></span></li>
                            <li>Vitamin k: <span id="vitamin_k_mcg"></span></li>
                            <li>Calcium: <span id="calcium_mg"></span></li>
                            <li>Iron: <span id="iron_mg"></span></li>
                            <li>Magnesium: <span id="magnesium_mg"></span></li>
                            <li>Potassium: <span id="potassium_mg"></span></li>
                            <li>Protein: <span id="protein_g"></span></li>
                            <li>Carbohydrate: <span id="carbohydrate_g"></span></li>
                            <li>Fiber: <span id="fiber_g"></span></li>
                            <li>Sugars: <span id="sugars_g"></span></li>
                            <li>Glucose: <span id="glucose_g"></span></li>
                            <li>Lactose: <span id="lactose_g"></span></li>
                            <li>Sucrose: <span id="sucrose_g"></span></li>
                            <li>Alcohol: <span id="alcohol_g"></span></li>
                            <li>Caffeine: <span id="caffeine_mg"></span></li>
                            <li>Water: <span id="water_g"></span></li>
                        </ol>
                    </div>
                </div>
                <hr>
                <div class="col-md-12 total" style="margin-top: 10px;">
                    <p>Item Count: <span id="item_count"></span></p>
                    <p>Serving Size: <span id="serving_size"></span></p>
                    <p>Total Calories: <span id="total_calories"></span></p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
<script src="{{url_for('static', filename='js/calculator.js')}}"></script>
</html>