<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="caloriewizard">Calorie Wizard</h1>
                <input type="text" class="form-control" placeholder="Search for your food...">
                <div id="food">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>QTY</th>
                                <th>Item</th>
                                <th>Carbohydrates</th>
                                <th>Fats</th>
                                <th>Protein</th>
                                <th>Vitamin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Apple</td>
                                <td>150</td>
                                <td>4000</td>
                                <td>6231</td>
                                <td>422</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Pineapple</td>
                                <td>200</td>
                                <td>3000</td>
                                <td>5432</td>
                                <td>321</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Orange</td>
                                <td>100</td>
                                <td>2000</td>
                                <td>3210</td>
                                <td>210</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary btn-lg btn-block" id="choice">Get Wizard's Choice</button>
            </div>
            <div class="col-md-6" id="receipt">
                <div class="receipt-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>QTY</th>
                                <th>Item</th>
                                <th>Carbohydrates</th>
                                <th>Fats</th>
                                <th>Protein</th>
                                <th>Vitamin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Apple</td>
                                <td>150</td>
                                <td>4000</td>
                                <td>6231</td>
                                <td>422</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Pineapple</td>
                                <td>200</td>
                                <td>3000</td>
                                <td>5432</td>
                                <td>321</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Orange</td>
                                <td>100</td>
                                <td>2000</td>
                                <td>3210</td>
                                <td>210</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong>Item Count:</strong> 4<br>
                        <strong>Total:</strong> $100
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{{url_for('static', filename='js/app.js')}}"></script>

</html>