<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- TEMP CSS -->
     <style>
        #result-container {
            background-color: white;
            position: absolute;
            max-height: 300px;
            overflow: auto;
            width: 600px;
            z-index: 10;
        }

        #search-box {
            background-color: white;
        }
        
        #item-list {
            background-color: whitesmoke;
        }

        #total-list {
            background-color: gainsboro;
        }
     </style>
</head>

<body>
    <div class="row">
        <div class="col-md-12" id="search-box">
            <h1>SEARCH</h1>
            <input type="text" id="input">
            <p id="result-container">

            </p>
        </div>
        <div class="col-md-6" id="item-list">
            
        </div>
        <div class="col-md-6" id="total-list">
            <ul>
                <li>calories_cal: <span id="calories_cal"></span></li>
                <li>total_fat_g: <span id="total_fat_g"></span></li>
                <li>saturated_fat_g: <span id="saturated_fat_g"></span></li>
                <li>cholesterol_mg: <span id="cholesterol_mg"></span></li>
                <li>sodium_mg: <span id="sodium_mg"></span></li>
                <li>vitamin_a_iu: <span id="vitamin_a_iu"></span></li>
                <li>vitamin_b12_mcg: <span id="vitamin_b12_mcg"></span></li>
                <li>vitamin_b6_mg: <span id="vitamin_b6_mg"></span></li>
                <li>vitamin_c_mg: <span id="vitamin_c_mg"></span></li>
                <li>vitamin_d_iu: <span id="vitamin_d_iu"></span></li>
                <li>vitamin_e_mg: <span id="vitamin_e_mg"></span></li>
                <li>vitamin_k_mcg: <span id="vitamin_k_mcg"></span></li>
                <li>calcium_mg: <span id="calcium_mg"></span></li>
                <li>iron_mg: <span id="iron_mg"></span></li>
                <li>magnesium_mg: <span id="magnesium_mg"></span></li>
                <li>potassium_mg: <span id="potassium_mg"></span></li>
                <li>protein_g: <span id="protein_g"></span></li>
                <li>carbohydrate_g: <span id="carbohydrate_g"></span></li>
                <li>fiber_g: <span id="fiber_g"></span></li>
                <li>sugars_g: <span id="sugars_g"></span></li>
                <li>glucose_g: <span id="glucose_g"></span></li>
                <li>lactose_g: <span id="lactose_g"></span></li>
                <li>sucrose_g: <span id="sucrose_g"></span></li>
                <li>alcohol_g: <span id="alcohol_g"></span></li>
                <li>caffeine_mg: <span id="caffeine_mg"></span></li>
                <li>water_g: <span id="water_g"></span></li>
              </ul>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/calculator.js')}}"></script>

</html>